body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;

  background-image: url('./imagenes/formulario imagen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.titulo {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  color: #0f0f0f;
}


/* Formularios */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input[type="text"],
input[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

/* Botones */
button {
  padding: 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0b5ed7;
}

/* Lista de tareas */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #1a1919;
}
li.completed span {
  text-decoration: line-through;
  color: #1a1919;
}
.cerrar {
  
   width: 100%;
  max-width: 400px;
  padding: 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
/*404*/
body.error-404-body {
  margin: 0;
  min-height: 100vh;

  background-image: url("imagenes/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0 1rem;
  color: rgb(14, 13, 13);
}

.error-404 {
  max-width: 500px;
  padding: 2rem;
  
}

.error-404 h1 {
  font-size: 6rem;
  margin: 0;
  color: #ff4c4c;
}

.error-404 p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.error-404 img {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
}

.error-404 a {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgba(13, 110, 253, 0.8);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.error-404 a:hover {
  background-color: rgba(11, 94, 215, 0.9);
}
.error-404 {
  margin-top: -500px; 
}